@charset "UTF-8";


img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
}
.container {
    background-color: #246404;
}

/* header */
header {
    max-width: 100%;
    /* border: 1px solid red; */
    font-size: 20px;
    align-items: center;
    display: flex;
    background-color: rgb(158, 156, 156);

}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    height: 100%;
    /* height: 50%; */

}

.link {
    /* border: 1px solid green; */
    width: 70%;
    text-align: center;
}

.link ul {
    /* border: 1px solid blue; */
    width: 80%;
    height: 20%;
    display: flex;
    padding-left: 3%;

}

.link ul li a {
    /* width: 100%; */
    margin: 0 10%;
}

.link ul li {
    width: 100%;
    border-left: 1px solid black;
}

.link ul li:last-child {
    border-right: 1px solid black;
    padding-right:3%;
}
/* 
.ticket-btn {
    width: 100%;
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 5;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 10px 10px 0 0 ;
}
.ticket-btn a {
    display: block;
} */


.title {
    background-color: whitesmoke;
    border: 5px solid gray;
    width: 70%;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.title-inner {
    background-color: #246404;
    border: 5px solid gray;
    color: gainsboro;
    display: inline-block;
    padding: 10px 50px;
    position: absolute;
    top: -55px;
    left: -20px;

}

.foods {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.foods-text {
    width: 50%;
    font-size: 18px;
}

.shop-name {
    font-size: 30px;
    border-bottom: 2px solid #246404;
    margin-bottom: 50px;
}

.foods-img {
    width: 35%;
    padding-left: 30px;
}

.foods-last {
    margin-bottom: 100px;
}







footer p {
    width: 100%;
    background-color: gainsboro;
    height: 30px;
    font-size: 10px;
    padding-top: 20px;
    /* display: inline-block; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.to-top {
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 1px solid white;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    position: fixed;
}

.to-top::after {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: relative;
    top: 0;
    right: 0;
    left: 18px;
    bottom: 3px;
}

/* responsive */
@media (max-width:845px) {


    /* header */
    .logo {
        width: 30%;
    }

    /* .ticket-btn {
        height: 100px;
        width: 100px;
        font-size: 20px;
    } */

    /* ハンバーガーメニュー */
    .link {
        width: 200px;
        background: rgb(158, 156, 156);
        padding: 25px;
        position: fixed;
        top: 0;
        left: -200px;
        bottom: 0;
        opacity: 0;
        overflow-y: auto;
        transition: all 0.5s;
        z-index: 20;
    }
    .link ul {
        flex-direction: column;
    }
    
    .link ul li {
        margin-bottom: 15px;
        border-left: 0;
    }
    
    .link ul li:last-child {
        border-right: 0;
    }

    .open .link {
        left: 0;
        opacity: 1;
    }

    .toggle_btn {
        width: 30px;
        height: 30px;
        /*基準*/
        position: fixed;
        top: 2.5%;
        right: 18px;
        /*   0.5秒かけて変化させる */
        transition: all 0.5s;
        cursor: pointer;
        z-index: 20;
        /* border: 1px dotted red; */
    }

    /*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
    .toggle_btn span {
        /* spanはインライン要素のため */
        display: block;
        width: 30px;
        height: 2px;
        background-color: #333;
        /* border-radius: 4px; 
        left:0; */
        transition: all 0.5s;
        position: absolute;
        /*対象*/
    }

    /*
  1本目の線の位置を設定
  */
    .toggle_btn span:nth-child(1) {
        top: 25%;
    }

    /*
  2本目の線の位置を設定
  */
    .toggle_btn span:nth-child(2) {
        top: 50%;
    }

    .toggle_btn span:nth-child(3) {
        top: 75%;
    }

    /*
  1本目の線を-45度回転
  transformで線のど真ん中の点を中心に動く
  */

    .open .toggle_btn span:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
    }

    /*2本目の線を45度回転*/
    .open .toggle_btn span:nth-child(2) {
        transform: rotate(45deg);
    }

    /* 3本目 */
    .open .toggle_btn span:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
    }

    /* ２本目と３本目を重ねる
  ３本の線がtop:50%となったため１本にかさなる*/


    .mask {
        display: none;
        transition: all 0.5s;
    }

    .open .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #00000072;
        cursor: pointer;
        top: 0;
        left: 0;
        display: block;
        opacity: 0.8;
        z-index: 10;
    }



/* 
    .link ul {
        flex-wrap: wrap;
    } */


    .title {
        border: 1px solid #246404;
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        padding: 0 3%;
    }

    .title-inner {
        background-color: #246404;
        color: gainsboro;
        display: inline-block;
        padding: 10px 50px;
        margin-left: -4%;
    }


    .foods {
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
    }

    .foods-text {
        width: 100%;
        font-size: 18px;
        padding-left: 0;
    }

    .shop-name {
        font-size: 30px;
        border-bottom: 2px solid #246404;
        margin-bottom: 20px;
    }

    .foods-img {
        width: 100%;
        padding-left: 0;
        padding-bottom: 50px;
    }

    .foods-last {
        margin-bottom: 0;
    }


}