@charset "UTF-8";

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1s;
}

.slick-slide {
    margin-right: 20px;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    /* font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal; */
}

/* header */
header {
    max-width: 100%;
    font-size: 20px;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    background-color: rgb(158, 156, 156);

}

.container {
    background-color: #246404;
    /* max-width: 2000px;
} */

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    /* height: 80px; */
    object-fit: cover;
}

.link {
    /* border: 1px solid green; */
    width: 70%;
    text-align: center;
}

.link ul {
    /* border: 1px solid blue; */
    width: 80%;
    height: 20%;
    display: flex;
    padding-left: 3%;

}

.link ul li a {
    /* width: 100%; */
    margin: 0 10%;
    /* font-size: 150%; */
}

.link ul li {
    width: 100%;
    border-left: 1px solid black;
}

.link ul li:last-child {
    border-right: 1px solid black;
    padding-right: 3%;
}

/* .ticket-btn {
    width: 100%;
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 5;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 10px 10px 0 0;
} */

.ticket-btn a {
    display: block;
}

.mainvisual {
    margin-top: 20px;
    text-align: center;
}

.mainvisual img {
    width: 70%;
}


/* slick */
.album {
    margin-top: 30px;
    width: 100%;
    height: 50%;
    /* border: 1px solid blue; */
}

.slick-img {
    padding: 0;
}

.album .slick-img img {
    width: 100%;
    object-fit: cover;
}

/* massage */
.message {
    background-image: url(../img/grant-ritchie-c1XZjkM_-q8-unsplash.jpg);
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 20%;

    margin-top: 30px;
}

.message h1 {
    text-align: center;
    font-size: 35px;
    color: green;
    text-shadow: 5px 2px 10px black;
    padding-top: 30px;
}

.message ul {
    text-align: center;
    margin-bottom: 100px;
}

.message .text {
    padding-top: 15px;
    padding: 10px;
    color: gainsboro;
    text-shadow: 2px 5px 3px black;
}

.main-text {
    font-size: 25px;
}

/* title */
.title {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    display: block;
    width: 300px;
    font-size: 50px;
    position: relative;

}

.title::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 5px;
    background-color: yellow;
    bottom: -15px;
    left: 0;
    right: 10;
}


/* about-top */
.about-top, .artist-top, .ticket-top {
    margin-top: 100px;
    margin-bottom: 50px;
}

.about dl {
    color: gainsboro;
    
    line-height: 1;
    /* font-size: 100%; */
    padding: 8% 0;
    font-size: 30px;
    margin-top: 0;
    height: 370px;
}

.about dt, .about dd {
    text-align: center;
    margin: 0 auto;
}

.about dt {
    padding-bottom: 10px;
}

.about dd {
    padding-bottom: 20px;
}

.about-wrapper {
    width: 90%;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
}

.about-wrapper li {
    width: 100%;
}

.about, .map {
    width: 100%;
    height: 370px;
    border: 1px solid white;
}
.map iframe {
    width: 100%;
}

/* artist-top */
.artists {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 50px;
}

.artist-outer1, .artist-outer2 {
    width: 100%;
    text-align: center;
}

.artist-title1 {
    border-right: 1px solid black;
}

.artist-title {
    width: 100%;
    background-color: yellow;
    font-size: 30px;
}

.day, .day2 {
    width: 100%;
    background-color: gainsboro;
    font-size: 25px;
    text-align: center;
}

.artists {
    /* background-color: #246404; */
    padding-bottom: 50px;

}

.artist {
    display: flex;
    max-width: 100%;
    padding-top: 20px;
    /* position: relative; */
}

.artist-w, .artist-e {
    width: 100%;
    padding: 0 3%;
}

.artist-w {
    border-right: 1px solid gainsboro;
}

.artist-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-left: 0;
}

.artist-img img {
    border-radius: 5%;
}

.artist-name {
    position: relative;
}

.artist-img .artist-name p {
    position: absolute;
    /* top: 75%;
    left: 15px; */
    bottom: -38px;
    left: 10px;
    color: aliceblue;
    text-shadow: 2px 10px 30px black;
}

/* artist-btn */
.artist-btn {
    padding-bottom: 50px;
}

.artist-btn:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.artist-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 70.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-flat {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
}

a.btn-flat span {
    position: relative;
}

a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
    transform: translateX(-98%) translateY(-70%) rotate(135deg);
    background: #fff100;
}

a.btn-flat:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
    transform: translateX(-9%) translateY(-25%) rotate(135deg);
}



.readmore-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* ticket */
.ticket-top {
    background-color: #246404;
}

.tickets {
    width: 80%;
    margin: 0 auto;
}

.tickets ul {
    padding-top: 100px;
    display: flex;
    padding-left: 0;
    padding-bottom: 30px;
}

.tickets li {
    margin: 0 10px;
}

.tickets ul li img {
    border-radius: 5%;
}
.tickets ul li  :hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.footer-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


footer p {
    width: 100%;
    background-color: gainsboro;
    height: 30px;
    font-size: 10px;
    padding-top: 20px;
    /* display: inline-block; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


.to-top {
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 1px solid white;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    position: fixed;
}

.to-top::after {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: relative;
    top: 0;
    right: 0;
    left: 18px;
    bottom: 3px;
}

/* responsive */
@media (max-width:845px) {

    /* header */
    .logo {
        width: 30%;
    }

    /* .ticket-btn {
        height: 100px;
        width: 100px;
        font-size: 20px;
    } */
header {
    position: relative;
}
    /* ハンバーガーメニュー */
    .link {
        width: 200px;
        background: rgb(158, 156, 156);
        padding: 25px;
        /* position: fixed; */
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        opacity: 0;
        overflow-y: auto;
        transition: all 0.5s;
        z-index: 20;
    }
    .link ul {
        flex-direction: column;
    }
    
    .link ul li {
        margin-bottom: 15px;
        border-left: 0;
    }
    
    .link ul li:last-child {
        border-right: 0;
    }

    .open .link {
        left: 0;
        opacity: 1;
    }

    .toggle_btn {
        width: 30px;
        height: 30px;
        /*基準*/
        /* position: fixed; */
        top: 2.5%;
        right: 18px;
        /*   0.5秒かけて変化させる */
        transition: all 0.5s;
        cursor: pointer;
        z-index: 20;
        /* border: 1px dotted red; */
    }

    /*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
    .toggle_btn span {
        /* spanはインライン要素のため */
        display: block;
        width: 30px;
        height: 2px;
        background-color: #333;
        /* border-radius: 4px; 
        left:0; */
        transition: all 0.5s;
        position: absolute;
        /*対象*/
    }

    /*
  1本目の線の位置を設定
  */
    .toggle_btn span:nth-child(1) {
        top: 25%;
    }

    /*
  2本目の線の位置を設定
  */
    .toggle_btn span:nth-child(2) {
        top: 50%;
    }

    .toggle_btn span:nth-child(3) {
        top: 75%;
    }

    /*
  1本目の線を-45度回転
  transformで線のど真ん中の点を中心に動く
  */

    .open .toggle_btn span:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
    }

    /*2本目の線を45度回転*/
    .open .toggle_btn span:nth-child(2) {
        transform: rotate(45deg);
    }

    /* 3本目 */
    .open .toggle_btn span:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
    }

    /* ２本目と３本目を重ねる
  ３本の線がtop:50%となったため１本にかさなる*/


    .mask {
        display: none;
        transition: all 0.5s;
    }

    .open .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #00000072;
        cursor: pointer;
        top: 0;
        left: 0;
        display: block;
        opacity: 0.8;
        z-index: 10;
    }






    /* mainvisual */
    .mainvisual img {
        width: 90%;
    }

    /* message */
    .message h1 {
        font-size: 25px;
    }

    .message ul {
        padding-left: 0;
    }

    .message .text {
        font-size: 13px;
        padding: 10px;
    }

    .message .main-text {
        font-size: 20px;
    }

    /* about-top */
    .about-wrapper {
        width: 90%;
        padding-left: 0;
        flex-direction: column;
    }

    /* artist-top */
    .artists {
        flex-direction: column;
        width: 100%;
    }

    .artist-outer2 {
        padding-top: 25px;
        margin-top: 10px;
    }

    .artist-name p {
        position: absolute;
        bottom: 5px;
        left: 3px;
        color: aliceblue;
    }


    /* tickets */
    .tickets {
        width: 95%;
        margin: 0 auto;
    }

    /* .tickets ul {
    flex-direction: column;
    text-align: center;
}
.tickets li {
    margin-bottom: 10px;
} */


}
}
