@charset "UTF-8";


img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
}

.container {
    background-color: #246404;
}

/* header */
header {
    max-width: 100%;
    /* border: 1px solid red; */
    font-size: 20px;
    align-items: center;
    display: flex;
    background-color: rgb(158, 156, 156);

}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    height: 100%;
    /* height: 50%; */

}

.link {
    /* border: 1px solid green; */
    width: 70%;
    text-align: center;
}

.link ul {
    /* border: 1px solid blue; */
    width: 80%;
    height: 20%;
    display: flex;
    padding-left: 3%;

}

.link ul li a {
    /* width: 100%; */
    margin: 0 10%;
}

.link ul li {
    width: 100%;
    border-left: 1px solid black;
}

.link ul li:last-child {
    border-right: 1px solid black;
    padding-right: 3%;
}

/* .ticket-btn {
    width: 100%;
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 5;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 10px 10px 0 0 ;
}
.ticket-btn a {
    display: block;
} */

.title {
    background-color: whitesmoke;
    border: 5px solid gray;
    width: 95%;
    font-size: 40px;
    height: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.title-inner {
    background-color: #246404;
    border: 5px solid gray;
    color: gainsboro;
    display: inline-block;
    padding: 10px 50px;
    position: absolute;
    top: -55px;
    left: -20px;
}


.map-img {
    padding-top: 60px;
    max-width: 100%;
    margin: 0 auto;

}

.map-img img {
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
}

.map-text {
    /* border: 1px solid blue; */
    margin-top: 30px;
}

.map-text ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}

.map-text li {
    font-size: 20px;
    margin-left: 30px;
    padding-right: 10px;
}

.map-text li i {
    padding-right: 6px;
}

.map-area {
    /* border: 1px solid red; */
    padding-top: 5px;
    font-size: 20px;
    padding-left: 60px;
}

.map-area dl {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.map-area dt {
    /* border: 1px solid green; */
    width: 20%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
}

/* .map-area dd {
    width: 50%;
} */

.east-area {
    background-color: #51a854;
}

.west-area {
    background-color: #db5a8a;
}

.camp-area {
    background-color: #eec775;
}

.food-area {
    background-color: #ff66c4;
}

.map-area dd {
    width: 70%;
}


footer p {
    width: 100%;
    background-color: gainsboro;
    height: 30px;
    font-size: 10px;
    padding-top: 20px;
    /* display: inline-block; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


/* responsive */
@media (max-width:845px) {

    /* header .link ul {
        flex-wrap: wrap;
    } */

    /* header */
    .logo {
        width: 30%;
    }

    .map-img {
        max-width: 100%;
    }

    .map-img img {
        width: 100%;
        /* height: 360px; */
        object-fit: cover;
    }

    /* .ticket-btn {
        height: 100px;
        width: 100px;
        font-size: 20px;
    } */

    /* ハンバーガーメニュー */
    .link {
        width: 200px;
        background: rgb(158, 156, 156);
        padding: 25px;
        position: fixed;
        top: 0;
        left: -200px;
        bottom: 0;
        opacity: 0;
        overflow-y: auto;
        transition: all 0.5s;
        z-index: 20;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin-bottom: 15px;
        border-left: 0;
    }

    .link ul li:last-child {
        border-right: 0;
    }

    .open .link {
        left: 0;
        opacity: 1;
    }

    .toggle_btn {
        width: 30px;
        height: 30px;
        /*基準*/
        position: absolute;
        top: 2.5%;
        right: 18px;
        /*   0.5秒かけて変化させる */
        transition: all 0.5s;
        cursor: pointer;
        z-index: 20;
        /* border: 1px dotted red; */
    }

    /*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
    .toggle_btn span {
        /* spanはインライン要素のため */
        display: block;
        width: 30px;
        height: 2px;
        background-color: #333;
        /* border-radius: 4px; 
        left:0; */
        transition: all 0.5s;
        position: absolute;
        /*対象*/
    }

    /*
  1本目の線の位置を設定
  */
    .toggle_btn span:nth-child(1) {
        top: 25%;
    }

    /*
  2本目の線の位置を設定
  */
    .toggle_btn span:nth-child(2) {
        top: 50%;
    }

    .toggle_btn span:nth-child(3) {
        top: 75%;
    }

    /*
  1本目の線を-45度回転
  transformで線のど真ん中の点を中心に動く
  */

    .open .toggle_btn span:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
    }

    /*2本目の線を45度回転*/
    .open .toggle_btn span:nth-child(2) {
        transform: rotate(45deg);
    }

    /* 3本目 */
    .open .toggle_btn span:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
    }

    /* ２本目と３本目を重ねる
  ３本の線がtop:50%となったため１本にかさなる*/


    .mask {
        display: none;
        transition: all 0.5s;
    }

    .open .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #00000072;
        cursor: pointer;
        top: 0;
        left: 0;
        display: block;
        opacity: 0.8;
        z-index: 10;
    }





    .title {
        height: 825px;
    }

    .map-text {
        margin-top: 40px;
        line-height: 2;
    }

    .map-text ul {
        /* flex-direction: column;
        margin: 0; */
        line-height: 0.2;
        margin-bottom: 30px;
        padding-left: 0px;
    }

    .map-text li {
        margin-left: 15px;
        font-size: 18px;
    }

    .map-area {
        padding-left: 7px;
    }

    .map-area dd {
        margin-left: 5px;
        font-size: 15px;
    }
    .map-area dl {
        margin-top: 0;
    }
    .map-area dt {
        height: 20px;
    }
        
        /* border: 1px solid red; */
        /* padding-top: 5px;
        font-size: 20px;
        padding-left: 10px;
    }

    .map-area dd {
        width: 50%;
    } */


        @media (max-width:600px) {

            
    .title {
        height: 700px;
    }
            .map-text li {
                margin-left: 7px;
                font-size: 10px;
                padding-right: 7px;
            }

        

        }
    }